{% extends 'ZaysoArbiterBundle:Layout:layout.html.twig' %}

{% block title %}Zayso Kicks{% endblock %}

{% block content %}

<div id="container">
<div id="container-inner">
    
<h1>Kicks Spring Classic 2012 - Huntsville Alabama - April 20,21,22</h1>
{{ dump(form) }}
{{ form.firstName.label }}
{% endblock %}
