{% extends 'ZaysoAreaBundle:Layout:layout.html.twig' %}

{% block title %}Area - Home{% endblock %}

{% block content %}
<div>
    <h1>Home</h1>
    <p id="zayso-home-p">
        This is the home page where you can do all sorts of wonderful things.
    </p>
</div>
<style>
.zayso-home-green { color: green;}
</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

<script>
$(document).ready(function() 
{
    // Check loading
    // Zayso.exclaim('Home');
   
    // do stuff when DOM is ready
    $('#zayso-home-p').addClass('zayso-home-green');
});
</script>

{% endblock %}