<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}ZaysoArea5CF Offline{% endblock %}</title>
    <meta name="description" content="Zayso Referee Scheduling"/>
    <meta name="author" content="Art Hundiak"/>
</head>
<body>
    <h1>Status - Area 5CF</h1>
    <p style="max-width: 750px">
        The area site is currently offline in preperation for the Fall 2012 season.
    </p><p>
        Expect it to be back online by 23 July 2012.
    </p>
    <p>
        Contact Art for more information.
    </p>  
    <p>Status was last changed on: 17 July 2012.</p>
</body>
</html>

