
html, body, div, ul, li {
  background-color: white;
  margin:  0;
  padding: 0;
  border:  0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
img
{
  display: block;
  border:  none
}
/* ===========================================
 * Header
 */
#layout-header {
    width:     100%;
    background:white; /* fcf */
    overflow:  hidden;/* contain floats*/
    padding:   2px 0px; /* Was 5 */
    min-width: 500px;
}
#layout-header p {
  margin: 5px 2px 0em /* 1 em makes big difference */
}
#layout-header .logo1 { float:left;  margin: 0; }
#layout-header .logo2 { float:right; margin: 0; }

#layout-header .inner-block {
    overflow:   hidden;/* make a rectangular block between floats, blocks left/right overflow */
    zoom:       1.0;        /* same effect for IE7 and under*/
    padding:    0 10px; /* Was 10 */
    color:      red;
    background: white;
    height:     50px; /* Otherwise might drop down, matches height of logo */
}
/* ==============================================
 * Top Menu
 */
#layout-top-menu
{
  height:    20px;
  width:     100%;
  min-width: 500px;

  overflow:       hidden; /* Contains floats */

  background-color: blue;
  padding: 0px; 
}
#layout-top-menu ul
{
  list-style-type:none;
  margin:           0;
  padding:          2px;
  overflow:         hidden;
  padding-top:      1px;
  padding-bottom:   2px;
  background-color: blue;
}
#layout-top-menu ul li
{
  display:inline;
}
#layout-top-menu ul li a:link
{
  font-weight:      bold;
  color:            white;
  background-color: Green;
  text-align:       center;
  padding:          6px;
  text-decoration:  none;
  font-size:80%;
}
#layout-top-menu ul li a:visited
{
  font-weight:      bold;
  color:            white;
  background-color: Green;
  text-align:       center;
  padding:          6px;
  text-decoration:  none;
  font-size:80%;
}
#layout-top-menu ul li a:hover
{
  background-color: black; /* #7A991A; */
}
#layout-top-menu ul li a:active
{
  background-color: black; /* #7A991A; */
}

/* ==================================================
 * Content Layout
 */
#layout-content
{
  padding: 0px;
  margin:  5px;
  background-color: white;
}
#layout-content a:link, a:visited
{
  font-weight:      bold;
  color:            blue;
  background-color: white;
  text-decoration:  underline;
}
/* ==================================================
 * Basic data entry
 */
table.entry
{
  width:        500px;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  padding:      0px;
}
table.entry th
{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: black;

  padding:     2px;
  margin-left: 4px;
}
table.entry tr
{
  border-bottom-style: solid;
  border-width: 2px;
  border-color: black;

  padding:     2px;
  margin-left: 4px;
}
table.entry td.data
{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;

  padding:     2px;
  margin-left: 4px;
}
table.entry td.label
{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
  
  padding:      2px;
  margin-right: 6px;

  text-align: center;
}

