{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Welcome {% endblock %}

{% block content %}
<h3>Welcome</h3>
<ul>
      <li>
            <a href="{{ path('zayso_arbiter_tourn_kicks') }}">USSF HFC Kicks Invitational 2012, Huntsville Alabama, October 19-21</a>
      </li>
</ul>
{% endblock %}