{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Welcome {% endblock %}

{% block content %}
<h3>Welcome</h3>
<p>
    Welcome blah blah blah
</p>
<h3>Create New Zayso Account</h3>
<p>
    <a href="{{ path('zayso_core_account_create') }}">Click here</a> to create a new zayso account.  
</p>
<h3>Problems with signing in</h3>
<p>The system is not allowing users from last year to sign in.  
    Those that signed in during spring are fine.
    You can go ahead and just create a new account until I get the problem resolved.
</p>
<h3>Existing Zayso User Signin</h3>
{% include 'ZaysoCoreBundle:Account/Signin:form.html.twig' %}
<br />
<div id="janrainEngageEmbed"></div>
{% endblock %}
{% block janrain %}{% include 'ZaysoCoreBundle:Layout:janrain.js.twig' %}{% endblock %}
