{% extends 'NatGamesBundle::layout.html.twig' %}

{% block title %}NatGames - Schedule{% endblock %}

{% block content %}
<div>
  <h3>Schedules</h3>
  <p>
    Check back sometime near the end of June 2012.  This is where you will sign up for games once the schedule is poated.
  </p>
</div>
{% endblock %}
