body#layout-body
{
  color:      black;
  background: #CCFFCC; /* Pale Greem */
  
  margin:  0;  /* With respect to containing element */
  padding: 0;  /* Around internal elements */
}
div#layout-page
{
  position: absolute;
  left:         50%;
  width:        900px;
  margin-left: -450px;
  padding:      0px;
  
  color:      black;
  background: white;
  
  border-style: groove;
  border-width: medium;
  border-color: black;
}
div#layout-banner
{
  color:      black;
  background: #99FF33;
  
  border-style: none;
  border-width: medium;
  border-color: green;
}
div#layout-banner-left
{
  color:      black;
  background: #99FF33;
  
  float: left; 
  width: 80%;
}
div#layout-banner-left span
{
  margin-left: 3px;
}
div#layout-banner-right
{
  color:      black;
  background: #99FF33;
  
  float: right; 
  width: 20%;
    
  text-align: right;
}
div#layout-banner-right span
{
  margin-right: 3px;
}
/* Top menu bar navigation */
div#layout-menu-top
{
  color:      black;
  background: yellow;
  height:     30px;
}
div#layout-menu-top ul
{
  list-style-type: none;
  margin:  0px;
  padding: 5px;
}
div#layout-menu-top ul li
{
  display: inline;
}  
div#layout-menu-top ul li a
{
  padding: 0px  20px;
  margin:  0px   2px;
  
  border:  1px solid #666;
  
  background-color: #CCC;
  color:            black;
  text-decoration:  none;
  text-align:       center;
} 
div#layout-menu-top ul li a:hover
{
  background-color: #333;
  color:            #FFF;
}
div#layout-content
{
  background-color: #FFFFCC; /* Pale yellow */
  color:            black;
  padding-left:     3px;
  padding-bottom:   3px;
}
h1 {color:green;background:white}
h2 {color:blue; background:white}

h3 
{
  color:            green;
  background-color: #FFFFCC;
  margin:           4px;
}
h4
{
  color:            black;
  background-color: white;
  margin:           2px;
}
p
{
  margin:           2px;
}

fieldset.entry2
{
  font-size:        12px;
/*  color:            black; */
/*  background-color: #CCCCCC; */
  padding:          0px;
  width:            35em;
}
fieldset.entry2 legend
{
}
fieldset.entry2 label
{
  width:      10em;
  float:      left;
  clear:      both;
  text-align: right;
  margin:     .5em 1em;
}
fieldset.entry2 input, textarea
{
  width:      15em;
  float:      left;
  text-align: right;
  margin:    .5em 0em;
}
fieldset.entry2 input.submit
{
  width:      auto;
  float:      right;
  clear:      both;
  margin-bottom:  1em;
  margin-left:    7em;
  text-align:     center;
}
fieldset.entry2 br
{
  clear: both;
}

table.entry2
{
  width:        400px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding:      2px;
}
table.entry2 td.data
{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
  
  padding:     2px; 
  margin-left: 4px;
}
table.entry2 td.label
{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
  
  padding:      2px; 
  margin-right: 6px;
  
  text-align: center;
}