<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="{{ asset('bundles/zayso/css/zayso.css') }}" type="text/css" media="all" />
  <title>{% block title %}Zayso Bundle{% endblock %}</title>
</head>

<body>
<div>

<div id="layout-content">
  {% block content %}
  {% endblock %}
</div>

</div>
</body>
</html>

