{% extends 'ZaysoAreaBundle:Layout:layout.html.twig' %}

{% block title %}Area - Home{% endblock %}

{% block content %}
<div>
    <h1>Home</h1>
    <p>
        This is the home page where you can do all sorts of wonderful things.
    </p>
</div>
{% endblock %}
