{% extends 'ZaysoAreaBundle:Layout:layout.html.twig' %}

{% block title %}Area - Welcome{% endblock %}

{% block content %}
<div>
  <h1>Welcome</h1>
  <p>
    Welcome to the AYSO National Games 2012 Referee Scheduling Site.
    As in the past few tournaments, referees will be allowed to assign themselves to games.
    If you plan to referee during the games then you must <a href="{{ path('zayso_area_welcome') }}">Create An Account</a>.
    If you already have an account then <a href="{{ path('zayso_area_welcome') }}">Sign In Here</a>.
  </p><p>
    If you plan on doing some referee assessments or observations then please create an account.
    Coaches and team managers are also encouraged to create accounts as it will make it easier for you to track your team's standings.
    Regional referee administrators should also consider creating accounts even if you don't plan on attending.
    Your account can be used to indicate if referees from your region can referee above their badge level.
    Other AYSO volunteers can create accounts as well.  You must have an AYSOID to create an account.
  </p>
</div>
{% endblock %}
