{% extends 'Area5CFBundle::layout.html.twig' %}

{% block title %}Area5CF - Welcome{% endblock %}

{% block content %}
<div>
  <h3>Home Page</h3>
  <p>Check back as the tournament draws closer.  More information will be added.</p>
</div>
{% endblock %}
