{% extends 'NatGamesBundle::layout.html.twig' %}

{% block title %}NatGames - Contact{% endblock %}

{% block content %}
<div>
  <h3>Contact Information</h3>
  <p>
    The best way to contact us is to send an email to: contact@NatGames2012.org
  </p><p>
    The email will be forwarded Jack Graham, Referee Director, and Art Hundiak, Referee Assignor.
  </p><p>
    If you are having trouble with the web site itself then feel free to call Art at 256.457.5943.
  </p>
</div>
{% endblock %}
