{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Denied {% endblock %}

{% block content %}
<h3>Denied 2</h3>
<p>
    User is not signed in and is not allowed to access the requested page.
</p>

{% endblock %}
