/* 
    Document   : area
    Created on : Dec 12, 2011, 7:47:33 AM
    Author     : impd04
    Description:
        Purpose of the stylesheet follows.
*/
/* ===============================
 * A simple reset
 */
html, body, div, p, ul, li, a {
  background-color: white;
  margin:         0;
  padding:        0;
  border:         0;
  font-size:      100%;
  font:           inherit;
  vertical-align: baseline;
}
img
{
  display: block;
  border:  none
}
/* ===========================================
 * Header
 */
#layout-header {
    width:     100%;
    background:white; /* fcf */
    overflow:  hidden;/* contain floats*/
  /*padding:   0px 0px;*/ /* Was 5 */
    min-width: 500px;
}
#layout-header p {
  margin:     5px;
  font-size: 15px; /* Different browsers default to different heights */
}
#layout-header .logo1 { float:left;  margin: 0; }
#layout-header .logo2 { float:right; margin: 0; }

#layout-header .inner-block {
    overflow:   hidden; /* make a rectangular block between floats, blocks left/right overflow */
    zoom:       1.0;    /* same effect for IE7 and under*/

    color:      red;
    background: white;
 /* height:     500px;*/ /* Otherwise might drop down, matches height of logo */
}
/* ==============================================
 * Top Menu
 */
#layout-top-menu
{
  height:    20px;
  width:     100%;
  min-width: 500px;

  overflow:  hidden; /* Contains floats */

  background-color: blue;
}
#layout-top-menu ul
{
  list-style-type:  none;
  overflow:         hidden;
  font-size:        14px; /* Need here for Firefox */
  background-color: blue;
  padding-left:     4px;
  padding-right:    4px;
  padding-top:      2px;
}
#layout-top-menu ul li
{
  display:   inline;
}
#layout-top-menu ul li a
{
  font-weight:      bold;
  color:            white;
  background-color: olive;
  text-align:       center;
  text-decoration:  none;
  padding-right:    2px;
  padding-left:     2px;
}
#layout-top-menu ul li a:hover
{
  background-color: black; /* #7A991A; */
}
#layout-top-menu .inner-block {
    overflow:   hidden; /* make a rectangular block between floats, blocks left/right overflow */
    zoom:       1.0;    /* same effect for IE7 and under*/
    background: red;
}
/* ==================================================
 * Content Layout
 */
#layout-content
{
  background-color: white;
}
#layout-content a:link, a:visited
{
  font-weight:      bold;
  color:            blue;
  background-color: white;
  text-decoration:  underline;
}
#layout-content a:hover
{
  font-weight:      bold;
  color:            blue;
  background-color: white;
  text-decoration:  underline;
}
#layout-content h1
{
  margin:  10px 5px;
  font-weight:  bold;
  font-size:    150%;
}
#layout-content h2
{
  margin:  10px 5px;
  font-weight:  bold;
  font-size:    134%;
}
#layout-content h3
{
  margin:  10px 5px;
  font-weight:  bold;
  font-size:    120%;
}
#layout-content p
{
  margin:  10px 5px;
  width:   750px;
}
#layout-content table
{
  margin:  10px 5px;
}
/* ========================================================
 * Bit of janrain styling
 */
div.janrainContent
{
    margin-left: 10px;
}
#janrainEngageEmbedxxx
{
    padding-left: 50px;
}
