{% extends 'ZaysoArbiterBundle:Layout:layout.html.twig' %}

{% block title %}Zayso Arbiter- Welcome{% endblock %}

{% block content %}
<div>
    <h1>Welcome to Zayso Arbiter Tools</h1>
    <h2>New Site - New Look</h2>
</div>
{% endblock %}
