{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Password Reset{% endblock %}

{% block content %}
<div>
    <p>
        An email has been sent to your account.  Click on the link when it arrives.
    </p>
</div>
{% endblock %}
