<div>
    <h3>Laural Hall Apartments</h3>
    <p>As some of you have noticed, the website mysteriously disappeared.</p>
    <p>You can start checking in on July 1st.  Open 24 hours.  
       The front desk number is 865-946-6673.
    </p>
    <p>Address: 1615 Laurel Avenue, Knoxville, TN 37916</p>
</div>
