{% extends 'NatGamesBundle::layout.html.twig' %}

{% block title %}NatGames - Welcome{% endblock %}

{% block content %}
<div>
  <h3>Home Page</h3>
  <p>
    Please make sure you visit the following links and keep your plans up to date.
  </p>
  <p><a href="{{ path('natgames_project_plans')  }}">Basic plans, availability and lodging requests.</a></p>
  <p><a href="{{ path('natgames_project_levels') }}">Level of games I plan to referee.</a></p>
  <p><a href="{{ path('natgames_account_profile')}}">View/Edit My Account Profile.</a></p>

  <p>Check back as the tournament draws closer.  More information will be added.</p>
</div>
{% endblock %}
