{% extends 'ZaysoNatGamesBundle:Layout:layout.html.twig' %}

{% block title %}NatGames - Welcome{% endblock %}

{% block content %}
<div>
    <h3>Home Page</h3>
    {% include 'ZaysoNatGamesBundle:Account/Person:list.html.twig' %}

    <p>
        Pease keep your tournament plans up to date.
    </p><p>
        Check back as the tournament draws closer.  More information will be added.
    </p>
</div>
{% endblock %}
