<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}ZaysoNatGames Offline{% endblock %}</title>
    <meta name="description" content="Zayso Referee Scheduling"/>
    <meta name="author" content="Art Hundiak"/>
</head>
<body>
    <h1>Status - S5Games</h1>
    <p style="max-width: 750px">The NatGames site is currently offline.  
        Should be back soon.
    </p>
    <p>
        Contact Art for more information.
    </p>  
    <p>Status was last changed on: 24 July 2012.</p>
</body>
</html>

