{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Home {% endblock %}

{% block content %}
{% include myBundleName ~ ':Home:list.html.twig' %}
<h3>Home</h3>
<p>
    Home blah blah blah
</p>

{% endblock %}
