{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Signin Help{% endblock %}

{% block content %}
<div>
    <h2>Account Sign In Help</h2>
    <h3>Sign In with Social Network:</h3>
    {% include 'ZaysoCoreBundle:Account/Signin:janrain.html.twig' %}
    <h3>Sign In with Form:</h3>
    {% include 'ZaysoCoreBundle:Account/Signin:form.html.twig' %}
    <p>
        Notice that if you have forgotten your Zayso User name then you can also use 
        your Zayso Email or your 8-digit volunter AYSO ID number.  If you still can't get past 
        <span style="color: red">User name not found</span> then contact me.
    </p>
    <h3>Password Recovery</h3>
    <p>
        If none of your social networds are working and you know your user name but can't remember your password 
        then use this form to request a reset:
    </p>
    {% include 'ZaysoCoreBundle:Account/PasswordReset:form.html.twig' %}
    <p>
        An email will be sent with a link to click on.
    </p>
    <h3>Create New Zayso Account</h3>
    <p>
        If you really really want to create a new account without using a social network
        (perhaps you are behind a very restrictive firewall) then click
        <a href="{{ path('zayso_core_account_create') }}">here</a>.
    <h3>Help!</h3>
    <p>
        Feel free to contact Art Hundiak at 256.457.5943 if the above instructions are confusing or don't seem to work.
    </p>
</div>
{% endblock %}


