{% extends 'AysoBundle::layout.html.twig' %}

{% block title %}AYSO - Welcome{% endblock %}

{% block content %}
    <h3>Welcome to AYSO</h3>
    <h3>{{ zzz }}</h3>
    <p>Congratulations! You have successfully installed a new Symfony application.</p>

{% endblock %}
