{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Admin {% endblock %}

{% block content %}
<h3>Admin</h3>
<p>
    Admin blah blah blah
</p>

{% endblock %}
