{% extends 'ZaysoAreaBundle:Layout:layout.html.twig' %}
{% block title %}ZaysoArea - Profile{% endblock %}
{% block content %}

<h1>Profile Index</h1>
{% include 'ZaysoAreaBundle:Profile:aps.html.twig' %}
{% endblock %}