{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Home{% endblock %}

{% block content %}
<div>
    {% include 'ZaysoS5GamesBundle:Account/Person:list.html.twig' %}
</div>
    <h2>Text Alerts</h2>
    <p>Sign up for late breaking text alerts</p>
    <p>
    <a href="https://www.rainedout.net/team_page.php?a=80fb21b387714e931e4c" target="_blank">Join AYSO Section 5 Games text alerts on RainedOut</a>
    </p>
    <div style="margin-left: 10px;">
    <script type="text/javascript" src="https://www.rainedout.net/invite_smartcode.php?a=80fb21b387714e931e4c"></script>
    </div>
    <script type="text/javascript" src="http://widgets.omnilert.net/80fb21b387714e931e4c-8519"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'ZaysoCoreBundle:Layout:jquery-ui-css.html.twig' %}

<style>
    .zayso-home-green { color: green; }
    #zayso-datepicker { margin: 5px; display: none; }
</style>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    {% include 'ZaysoCoreBundle:Layout:jquery-ui-js.html.twig' %}
 <script>
$(document).ready(function() 
{
    // Check loading
    // Zayso.exclaim('Home');
   
    // do stuff when DOM is ready
    $('#zayso-home-p').addClass('zayso-home-green');
    
    //$("#zayso-datepicker").show().datepicker();
});
</script>

{% endblock javascripts %}