{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Home{% endblock %}

{% block content %}
<div>
    {% include 'ZaysoS5GamesBundle:Account/Person:list.html.twig' %}
    <p>
        Pease keep your tournament plans up to date.
    </p><p>
        Check back as the tournament draws closer.  More information will be added.
    </p>
</div>
{% endblock %}
