<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}ZaysoS5Games Offline{% endblock %}</title>
    <meta name="description" content="Zayso Referee Scheduling"/>
    <meta name="author" content="Art Hundiak"/>
</head>
<body>
    <h1>Status - S5Games</h1>
    <p style="max-width: 750px">The S5Games site is currently (17 July 2012) offline.  
        Check back aroud March 2013 or so.  
        At this point, I don't know if zayso will be used for the 2013 games or where the games will be held.
    </p>
    <p>
        Contact Art for more information.
    </p>  
</body>
</html>

