{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Text Alerts{% endblock %}

{% block content %}
<div>
    <h1>Text Alerts</h1>
    <h2>Signing Up</h2>
    <p>Sign up for late breaking text alerts.  Things like game changes, thunder storms or Elvis sightings.</p>
    <p>There should only be a few.  None if all goes well.</p>
    <p>Tournament staff members: We also have a group setup for texting just the staff.  Ask Kathy for instructions on joining it.</p>
    <p>
    <a href="https://www.rainedout.net/team_page.php?a=80fb21b387714e931e4c" target="_blank">
        Join AYSO Section 5 Games text alerts on RainedOut
    </a>
    </p>
    <div style="margin-left: 10px;">
    <script type="text/javascript" src="https://www.rainedout.net/invite_smartcode.php?a=80fb21b387714e931e4c"></script>
    </div>
    <h2>Recent Alerts will be shown below:</h2>
    <script type="text/javascript" src="http://widgets.omnilert.net/80fb21b387714e931e4c-8519"></script>
</div>
{% endblock %}


