{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Welcome{% endblock %}

{% block content %}
<div>
    <h1>Welcome to Zayso 2012</h1>
    <h2>New Site - New Look</h2>
    <p>
        If you are planning to referee 
        at the Section 5 Games in North Carolina June 15-17 2012
        then this is the site to be.
    </p>
    <h2>Already have an account on the new system?</h2>
    <p>
        Those of you from Area 5C/F or those of you that have signed up for the National Games
        can click on a social network icon below to sign in.
    </p><p>
        <strong>Please note that on some browsers you might need to referesh once to actually see the icons.</strong>
    </p>
    <div id="janrainEngageEmbed"></div>
    <h2>Social Network (above) Now Required!</h2>
    <p>
        All users are now required to use a social network icon (see above) to sign in.
        This will make it easier for the user since all they need to do is to click the appropiate social network icon to sign in.
        No more needing to remember your zayso user name and password.
        It will also make things easier for the referee administrators since we
        won't have to deal with as many "forget how to sign in" issues.
        You can actually connect several social networks to your zayso account so you are bound to remember at least one of them.
    </p><p>
        Please understand that your social network passwords never go through zayso.
        Instead you will be directed to the actual social network site.
        <strong>If you do not currently have an account on one of the sties listed below then please click on the MyOpenID icon
        and create an account there.</strong>  MyOpenID is a basic account creation site and implements assorted password recovery features.
    </p>
    <h2>New Account</h2>
    <p>
        Start by clicking on one of the social newtork icons above.  
        You will them be asked for your AYSO id as well as some basic contact info.
    </p>
    <h2>Help!</h2>
    <p>
        Feel free to contact Art Hundiak at 256.457.5943 if the above instructions are confusing or don't seem to work.
    </p>
    {% include 'ZaysoS5GamesBundle:Welcome:rained_out.html.twig' %}
</div>
{% endblock %}

{% block janrain %}
    {% include 'ZaysoCoreBundle:Layout:janrain.js.twig' %}
{% endblock %}

