{% extends myBundleName ~ ':Layout:layout.html.twig' %}

{% block title %}{{ myTitlePrefix }} Welcome {% endblock %}

{% block content %}
<h3>Welcome</h3>
<p>
    Welcome blah blah blah
</p>
<h3>Existing Zayso User Signin</h3>
{% include 'ZaysoCoreBundle:Account/Signin:form.html.twig' %}
<br />
<div id="janrainEngageEmbed"></div>
<h3>New Zayso Users</h3>
<p>Still working on the new user stuff.</p>
{% endblock %}
{% block janrain %}{% include 'ZaysoCoreBundle:Layout:janrain.js.twig' %}{% endblock %}
