<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div>TODO write content</div>
    </body>
</html>

<div id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_pnlStandardView">
	
        
<table class="dataGrids" cellspacing="0" cellpadding="2" rules="all" border="1" 
       id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames" 
       style="border-color:Black;width:100%;border-collapse:collapse;">
    
    <tr class="headers" style="color:White;">
        <td style="background-color:Red;white-space:nowrap;"><a href="javascrpt" style="color:White;">Game</a></td>
        <td style="background-color:Red;white-space:nowrap;">Notes</td>
        <td><a href="javascript" style="color:White;">Group</a></td>
        <td><a href="javascript" style="color:White;">Position</a></td>
        <td><a href="javascript" style="color:White;">Date & Time</a></td>
        <td style="white-space:nowrap;"><a href="javascript" style="color:White;">Sport & Level</a></td>
        <td><a href="javascript" style="color:White;">Site</a></td>
        <td><a href="javascript" style="color:White;">Home</a></td>
        <td><a href="javascript" style="color:White;">Away</a></td>
        <td style="white-space:nowrap;">Fees</td>
        <td>Status</td>
        <td style="white-space:nowrap;">Accept</td>
        <td style="white-space:nowrap;">Decline</td>
    </tr>
    <tr class="items" align="center" style="font-size:8pt;">
        <td style="color:Black;background-color:#CCCCCC;font-weight:bold;width:1%;white-space:nowrap;">
            <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_linkGame" 
               title="Normal Game" href="GameView.aspx?groupID=102804&amp;gameID=121255" style="color:#0000AA;">121255</a>
        </td>
        <td align="center" style="background-color:#CCCCCC;width:1%;white-space:nowrap;">
            <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lnkNotes" 
               onMouseOver="javascript:showTip(&#39;Create Notes&#39;);" 
               onMouseOut="javascript:hideTip();" 
               href="../Assigner/GameNotesEdit.aspx?GroupID=102804&amp;GameID=121255">
                <img src="../Shared/Images/Icons/clipboard_text_bw.png" alt="" />
            </a>
            <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lnkReport" 
               onMouseOver="javascript:showTip(&#39;No Report&#39;);" 
               onMouseOut="javascript:hideTip();">
                <img src="../Controls/Images/DataGrid/Icon-NoReport.png" alt="" />
            </a>
        </td>
        <td align="center">
            <input name="ctl00$ContentHolder$pgeGameScheduleEdit$conGameScheduleEdit$dgGames$ctl02$hidGame" 
                   type="hidden" id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_hidGame" 
                   value="102804,121255,11" />
        </td>
        <td>
            <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lblPositionName">
                AR1
            </span>
        </td>
        <td>
            <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lblDate">
                4/9/2012 Mon <br>4:30 PM
            </span>
        </td>
        <td style="width:100px;">
            <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lblSportLevel">
                AHSAA, HS-JV B
            </span>
        </td>
        <td style="width:100px;">
            <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lnkSite" 
               href="../Shared/RecordView.aspx?groupID=102804&amp;recordTypeID=12&amp;primaryID=67577">
                Sparkman Stadium
            </a>
        </td>
        <td>
            <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lnkTeam" 
               href="../Shared/RecordView.aspx?groupID=102804&amp;recordTypeID=13&amp;primaryID=201333">
                Sparkman HS
            </a>
        </td>
        <td>
            <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lnkAwayTeam">
                Florence HS
            </span>
        </td>
        <td>
            <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lblFees" 
                  title="Game Fee: $27.00, Travel NOT paid">$27.00
            </span>
            <div></div>
        </td>
        <td align="center" colspan="3" rowspan="2" style="color:Black;background-color:#CCCCCC;">
            <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl02_lblStatus">
                Accepted on 3/29/2012
            </span>
            <div></div>
        </td>
    </tr>
    <tr class="alternatingItems" align="center" style="font-size:8pt;">

			<td style="color:Black;background-color:#CCCCCC;font-weight:bold;width:1%;white-space:nowrap;">
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_linkGame" title="Normal Game" href="GameView.aspx?groupID=102804&amp;gameID=121256" style="color:#0000AA;">121256</a>
              </td><td align="center" style="background-color:#CCCCCC;width:1%;white-space:nowrap;">
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lnkNotes" onMouseOver="javascript:showTip(&#39;Create Notes&#39;);" onMouseOut="javascript:hideTip();" href="../Assigner/GameNotesEdit.aspx?GroupID=102804&amp;GameID=121256"><img src="../Shared/Images/Icons/clipboard_text_bw.png" alt="" /></a>
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lnkReport" onMouseOver="javascript:showTip(&#39;No Report&#39;);" onMouseOut="javascript:hideTip();"><img src="../Controls/Images/DataGrid/Icon-NoReport.png" alt="" /></a>
                
                
              </td><td align="center">
                
                
                
                
                <input name="ctl00$ContentHolder$pgeGameScheduleEdit$conGameScheduleEdit$dgGames$ctl03$hidGame" type="hidden" id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_hidGame" value="102804,121256,5" />
              </td><td>

                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lblPositionName">AR1</span>
              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lblDate">4/9/2012 Mon <br>6:30 PM</span>
              </td><td style="width:100px;">
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lblSportLevel">AHSAA, HS-Var B</span>
              </td><td style="width:100px;">
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lnkSite" href="../Shared/RecordView.aspx?groupID=102804&amp;recordTypeID=12&amp;primaryID=67577">Sparkman Stadium</a>

              </td><td>
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lnkTeam" href="../Shared/RecordView.aspx?groupID=102804&amp;recordTypeID=13&amp;primaryID=201331">Sparkman HS</a>
              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lnkAwayTeam">Florence HS</span>
              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl03_lblFees" title="Game Fee: $32.00, Travel NOT paid">$32.00</span>
								<div>

									
								</div>
              </td>
		</tr><tr class="items" align="center" style="font-size:8pt;">
			<td style="color:Black;background-color:#CCCCCC;font-weight:bold;width:1%;white-space:nowrap;">
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_linkGame" title="Normal Game" href="GameView.aspx?groupID=102804&amp;gameID=122203" style="color:#0000AA;">122203</a>
              </td><td align="center" style="background-color:#CCCCCC;width:1%;white-space:nowrap;">
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lnkNotes" onMouseOver="javascript:showTip(&#39;Create Notes&#39;);" onMouseOut="javascript:hideTip();" href="../Assigner/GameNotesEdit.aspx?GroupID=102804&amp;GameID=122203"><img src="../Shared/Images/Icons/clipboard_text_bw.png" alt="" /></a>
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lnkReport"></a>

                
                
              </td><td align="center">
                
                
                
                
                <input name="ctl00$ContentHolder$pgeGameScheduleEdit$conGameScheduleEdit$dgGames$ctl04$hidGame" type="hidden" id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_hidGame" value="102804,122203,12" />
              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lblPositionName">AR1</span>
              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lblDate">4/16/2012 Mon <br>5:00 PM</span>
              </td><td style="width:100px;">

                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lblSportLevel">AHSAA, HS-JV B</span>
              </td><td style="width:100px;">
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lnkSite" href="../Shared/RecordView.aspx?groupID=102804&amp;recordTypeID=12&amp;primaryID=84124">Madison Academy HS</a>
              </td><td>
                <a id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lnkTeam" href="../Shared/RecordView.aspx?groupID=102804&amp;recordTypeID=13&amp;primaryID=355139">Madison Academy</a>
              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lnkAwayTeam">Catholic HS</span>

              </td><td>
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lblFees" title="Game Fee: $27.00, Travel NOT paid">$27.00</span>
								<div>
									
								</div>
              </td><td align="center" colspan="3" style="color:Black;background-color:#CCCCCC;">
                <span id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_dgGames_ctl04_lblStatus">Accepted on 4/5/2012</span>
								<div>
								
								</div>

              </td>
		</tr>
	</table>
        
      
</div>
      
      
      

			<div id="ctl00_ContentHolder_pgeGameScheduleEdit_conGameScheduleEdit_pnlTravelExpenses" style="display:none; width:600px; background-color:White; border-width:2px; border-color:Black; border-style:solid; padding:10px;">
	