{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Schedule{% endblock %}

{% block content %}
<div>
    <h3>Game Schedule</h3>
    <p>
        Schedule should be posted on or around 8 Jun 2012.
    </p>
</div>
{% endblock %}
