{% extends 'ZaysoS5GamesBundle:Layout:layout.html.twig' %}

{% block title %}S5Games - Contact{% endblock %}

{% block content %}
<div>
    <h3>Contact Information</h3>
    <p>
        If you are having trouble with the web site itself then feel free to call Art at 256.457.5943.
    </p>
    <p>
        For tournament information, click on the icon in the upper left corner..
    </p>
</div>
{% endblock %}
